<h1>Followers users</h1>
<section>
    <% @users.each do |user| %>
    <%= gravatar_for user %>
    <h2><%= user.name %> </h2>　　　　　　　　　　　　　　　<!-- Userモデルからnameカラムを呼び出している -->
    <span><%= link_to 'view my profile', user %> </span>
</section>
<% end %>

