<h1>Following users</h1>
<section>
    <% @users.each do |user| %>
    <%= gravatar_for user %>
    <h2><%= user.name %> </h2>
    <span><%= link_to 'view my profile', user %> </span>
</section>
<% end %>