<% if current_user != @user %>
  <div id="fav-<%= micropost.id %>">
  <% if current_user.favorite?(micropost) %>
    <%= render 'microposts/unfavorite', micropost: micropost  %>
    <!-- micropost: micropost → パーシャル(部分テンプレート)で使う変数: 渡す値 -->
  <% else %>
    <%= render 'microposts/favorite', micropost: micropost  %>
    <!-- micropost: micropost → パーシャル(部分テンプレート)で使う変数: 渡す値 -->
  <% end %>
  </div>
<% end %>